﻿@model Dictionary<int, int>

<html>
<head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            @Html.Raw($"['Kategória', 'Előfordulás'],")
        @foreach (KeyValuePair<int, int> item in Model)
        {
            @Html.Raw($"['{@item.Key}',     {@item.Value}],")
        }]);

       
        var options = {
            title: 'Aktív sportok kategóriánként'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>
</head>

<body>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
    <div>
        <a asp-action="Index">Vissza a főoldalra</a>
    </div>
</body>
</html>