﻿@model Dictionary<string, int>

<html>
<head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            @Html.Raw($"['Sport', 'Arány'],")
        @foreach (KeyValuePair<string, int> item in Model)
        {
            @Html.Raw($"['{@item.Key}',     {@item.Value}],")
        }]);


        var options = {
            title: 'Sikeresen teljesített edzések',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('linechart'));

        chart.draw(data, options);
    }
</script>
</head>

<body>
    <div id="linechart" style="width: 900px; height: 500px;"></div>
    <div>
        <a asp-action="Index">Vissza a főoldalra</a>
    </div>
</body>
</html>
