﻿@model IEnumerable<FitChallenge.Models.Workout>

@{
    ViewData["Title"] = "Index";
}

<h1>Diagramok</h1>

<div>
    <ul>
        <li>
            @Html.ActionLink("Kördiagram","DrawPieChart","Diagrams")
        </li>
        <li>
            @Html.ActionLink("Vonaldiagram","DrawLineChart","Diagrams")
        </li>
    </ul>
</div>



