﻿@model IEnumerable<FitChallenge.Models.Workout>

@{
    ViewData["Title"] = "AllActiveWorkouts";
}

<h1>Jelenleg aktívan végzett sportok</h1>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Leírás
            </th>
            <th>
                Időpont
            </th>
            <th>
                Időtartam percben
            </th>
            <th>
                Kategória
            </th>
            <th>
                Kötelező kategóriák
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.MandatorySport.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Szerkesztés</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Törlés</a>
                    </td>
                </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Vissza a főoldalra</a>
</div>
