﻿@model IEnumerable<FitChallenge.Models.DeletedWorkout>

@{
    ViewData["Title"] = "DeletedWorkouts";
}

<h1>Törölt edzések</h1>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Leírás
            </th>
            <th>
                Időpont
            </th>
            <th>
                Időtartam percben
            </th>
            <th>
                Kategória
            </th>
            <th>
                Kötelező kategóriák
            </th>
            <th>
                Törlés időpontja
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MandatorySport.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeleteTime)
                </td>
                <td>
                    <a asp-action="Restore" asp-route-id="@item.Id">Visszavonás</a> 
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Vissza a főoldalra</a>
</div>
