﻿@model FitChallenge.Models.Workout

@{
    ViewData["Title"] = "Delete";
}

<h1>Edzés törlése</h1>
<h3>Biztosan törli ezt az edzést?</h3>

<div>
    <h4>Törölni kívánt edzés</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Leírás
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
           Időpont
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class="col-sm-2">
           Időtartam
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            Sportolás kategóriája
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            Kötelező kategóriák
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MandatorySport.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a asp-action="Index">Vissza a főoldalra</a>
    </form>
</div>
