﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FitChallenge</h1>
    <h3>Üdvözöllek a FitChallenge alkalmazásban!</h3>
</div>
<hr />
<div>
    <p> 
    A SiO Athletica egyetemi sportegyesület új alkalmazással szeretné színesíteni az
    egyetemi sportéletet és támogatni a hallgatókat abban, hogy rendszeresen sportoljanak. 
    Az alkalmazás abban kíván segítséget nyújtani a felhasználónak, hogy egyszerűen és
    kényelmesen tarthassa nyilván a naponta elvégzett sportolását.
    </p>
</div>